
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"><h1 class="display-4">Login</h1></div>        
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <%= form_for @user, url: {action: "create"}, html: {method: "post"} do |f| %>
                
                <%
                
                #validaciones para el campo email
                alert_email = ""
                danger_email = ""
                msg_email = ""
                if @user.errors[:email].any?
                    alert_email = "form-control-danger"
                    danger_email = "has-danger"
                    msg_email = @user.errors[:email].first
                end

                #validaciones para el campo password
                alert_pass = ""
                danger_pass = ""
                msg_pass = ""
                if @user.errors[:pass].any?
                    alert_pass = "form-control-danger"
                    danger_pass = "has-danger"
                    msg_pass = @user.errors[:pass].first
                end
                
                
                %>
                
                <div class="form-group <%= danger_email %>">                                        
                    <label for="user_email" class="sr-only">Email</label>
                    <%= f.text_field :email, placeholder: "Email", class: "form-control " + alert_email %>
                    <% if msg_email != "" %>
                        <div class="form-control-feedback"><%= msg_email %></div>
                    <%end%>
                </div>                
                <div class="form-group <%= danger_pass %>">                    
                    <label for="user_pass" class="sr-only">Contraseña</label>
                    <%= f.password_field :pass, placeholder: "Contraseña", class: "form-control " + alert_pass %>
                    <% if msg_pass != "" %>
                        <div class="form-control-feedback"><%= msg_pass %></div>
                    <%end%>
                </div>

                <%= f.submit "Ingresar", class: "btn btn-primary" %>
                <small class="form-text text-muted">Si no tienes cuenta registrate <%= link_to "acá", :home %>.</small>

            <% end %>
        </div>
        
    </div>
</div>
